<strong>Ola {{student}}</strong>
<p>Seja bem vindo a GymPoint</p>
<p>Voce aderiu ao plano {{plan}} que custa {{price}}</p>
<p>Que vai comecar no dia {{start}} e se encerrar {{end}}</p>
<br>
<small>Em caso de duvida entre em contato com nossa equipe</small>